@model SportsStore.Domain.Entities.Cart

    <form class="form-inline hidden-xs">

        @Html.ActionLink("Twój koszyk", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-light mx-4 my-0 font-weight-bold" })

        <div class="form-inline  visible-xs">
            <a href=@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })
               class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </a>
        </div>

        <p class="navbar-text my-2 my-sm-0">
            <b class="hidden-xs">Twoje zakupy:</b>
            @Model.Lines.Sum(x => x.Quantity) sztuk,
            @Model.ComputeTotalValue().ToString("c")
        </p>
    </form>