@model SportsStore.Domain.Entities.Cart

<form class="form-inline">

        @Html.ActionLink("Twój koszyk", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-light mx-4 my-0 font-weight-bold"})

    <p class="navbar-text my-2 my-sm-0">
        <b>Twoje zakupy:</b>
        @Model.Lines.Sum(x => x.Quantity) sztuk,
        @Model.ComputeTotalValue().ToString("c")
    </p>
</form>